@use 'variables';
@use 'components/basket';
@use 'components/summary';
@use 'components/checkout';
@use 'components/pricing-rules';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: variables.$font-family;
    font-size: variables.$font-size-md;
    color: variables.$text-color;
    background-color: variables.$background-color;
}

.section-title {
    font-size: variables.$font-size-sm;
    color: variables.$light-text;
    text-transform: uppercase;
    padding-bottom: variables.$spacing-sm;
}
